[submodule "Libs/oUF"]
	path = Libs/oUF
	url = https://github.com/oUF-wow/oUF.git
[submodule "Libs/LibDispel"]
	path = Libs/LibDispel
	url = https://github.com/lua-wow/LibDispel.git
[submodule "Libs/LibStub"]
	path = Libs/LibStub
	url = https://github.com/lua-wow/LibStub.git
